html, body, section {
  height: 100%;
  overflow: hidden;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.layout {
  margin: 0 auto;
  width: 600px;
}

/* 媒体查询 */
@media (min-width: 700px) {
.layout {
  width: 600px;
}
}
@media (min-width: 900px) {
.layout {
  width: 800px;
}
}
@media (min-width: 1000px) {
.layout {
  width: 900px;
}
}
@media (min-width: 1200px) {
.layout {
  width: 1100px;
}
}

main {
  padding-top: 12vh;
  height: calc(100% - 24vh);
}

main .aside {
  float: left;
}

main .aside > figure {
  width: 46vh;
  height: 46vh;
  background-size: cover; 
}

main .aside .actions {
  display: flex;
  margin-top: 5vh;
}

main .aside svg {
  flex: 1;
  text-align: center;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: color 0.4s;
}

main .aside svg:hover {
  color: #fff;
}

main .aside .like {
  color: red;
}

main .detail {
  margin-left: 56vh;
  color: #fff;
}

main .detail .tag {
  background: #2E6EEC;
  font-size: 2vh;
  padding: .4em .8em;
}

main .detail h1 {
  margin-top: 2vh;
  font-size: 6vh;
}

main .detail .icons {
  display: flex;
  margin-top: 12vh;
  font-size: 3vh;
} 

main .detail li {
  flex: 1;
}

main .detail svg{
  font-size: 3vh;
  margin-right: 1vh;
}

main .icon.none {
  display: none;
}

main .detail .area-bar {
  margin-top: 10vh;
  display: flex;
  align-items: center;
}

main .area-bar .bar {
  position: relative;
  flex: 1;
  height: 0.8vh;
  border-radius: 0.2vh;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

main .area-bar .bar-progress {
  position: absolute;
  height: 0.8vh;
  width: 0%;
  border-radius: 0.2vh;
  background: #fff;
  transition: width 0.8s;
}

main .area-bar .current-time {
  margin-left: 2vh;
  width: 3vh;
  font-size: 2vh;
}

main .detail .author {
  margin-top: 3vh;
  font-size: 3vh;
}

main .detail .lyric {
  margin-top: 2vh;
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.6);
}


footer {
  height: 24vh;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px -.25vh .25vh .25vh  rgba(255, 255, 255, 0.2);
}

footer>.layout {
  position: relative;
}

footer .box {
  position: relative;
  overflow: hidden;
  height: 24vh;
}

footer ul {
  position: absolute;
  left: 0;
}

footer li {
  float: left;
  margin: 2vh 2vh 0 2vh;
  width: 20vh;
  height: 20vh;
  text-align: center;
  cursor: pointer;
}

footer li.active {
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

footer li:hover {
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center center;
}

footer li h3 {
  margin-top: 1vh;
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.8);
}

footer svg {
  position: absolute;
  top: 8vh;
  font-size: 7vh;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
  opacity: 0.2;
}

footer:hover svg {
  opacity: 1;
}

footer svg.left {
  left: -8vh;
}

footer svg.right {
  right: -8vh;
}

#page-cover {
  display: none;
}

/* 背景图 */
.bg-picture {
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  filter: blur(4px);
}

.bg-picture::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}